@model HospitalManagement.Models.MastHosService

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Host Service Information";
}

<div class="page-header">
    <h2 class="space">Service Information</h2>
</div>

<div class="card content-scroll">
    @using (Html.BeginForm("Edit", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ServiceName">Service Name</label>
                    <input type="text" id="ServiceName" name="ServiceName" class="form-control" placeholder="Enter host service name" value="@Model?.ServiceName" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ServiceShortDesc">Short Description</label>
                    <input type="text" id="ServiceShortDesc" name="ServiceShortDesc" class="form-control" placeholder="Enter short description" value="@Model?.ServiceShortDesc" required />
                </div>
            </div>
        </div>
        <div class="form-group upload-section">
            <label for="serviceImage">Upload Service Image</label>
            <div class="upload-box">
                <input type="file" id="serviceImage" name="serviceImage" class="form-control" />
                <br />

                <!-- Display Current Doctor Image -->
                @if (!string.IsNullOrEmpty(Model.ServiceImage))
                {
                    <label>Current Image:</label>
                    <img src="@Url.Content(Model.ServiceImage)" alt="Doctor Image" class="img-thumbnail" style="max-height: 100px;" />
                }
            </div>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    }
</div>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Swal.fire({
                title: 'Success!',
                text: 'Service updated successfully!',
                icon: 'success',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Index", "Service")';
                }
            });
        });
    </script>
}