@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- BREADCRUMB
            ============================================= -->
<div id="breadcrumb" class="division" style="background-image:url('/images/new-img/DSC_6072.jpg')">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class=" breadcrumb-holder text-center">


                    <!-- Title -->
                    <h1 class="h4-sm whitetext-color">About Us</h1>
                    <p class="whitetext-color">Compassionate care for seniors in a safe, nurturing environment, promoting dignity, comfort, and quality of life every day.</p>

                </div>
            </div>
        </div>  <!-- End row -->
    </div>	<!-- End container -->
</div>	<!-- END BREADCRUMB -->
<!-- About Start
============================================= -->
<div id="service-page" class="wide-60 service-page-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">
                <!-- Section ID -->
                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">About <span class="blue-text">Us</span></h3>


            </div>
        </div>  <!-- END SECTION TITLE -->
        <!-- About section 1-->
        <div class="row pb-100 d-flex align-items-center">


            <!-- INFO IMAGE -->
            <div class="col-lg-6">
                <div class="info-4-img mb-40 text-center ">
                    <img class="img-fluid" src="~/images/new-img/aboutUs.jpg" alt="Ratnakamal Medical Centre of Excellence" width="1597" height="993">
                </div>
            </div>


            <!-- INFO TEXT -->
            <div class="col-lg-6">
                <div class="txt-block mb-40 pc-30 ">

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Our Patients Are Our Priority, We Offer Specialist <span class="blue-text">Diagnostic & Clinical Services</span></h3>

                    <!-- Text -->
                    <p>
                        <b>Providing Quality & Comprehensive Healthcare under one roof:</b></br></br>

                        Ratnakamal Medical Centre of Excellence & Diagnostic Centre offers a wide range of advanced diagnostic and clinical services designed to ensure accurate, reliable and patient-focused healthcare. Our centre provides complete support across <b>Pathology, Genetics, Fetal Medicine, MSK Ultrasound, General & 4D USG</b>, and multiple cardiac and respiratory investigations.
                        Our excellence is rooted in a highly skilled medical team who are well-versed with the latest advancements in their respective specialties, ensuring precise diagnosis and expert care. Modern facilities, compassionate services and patient-friendly surroundings form the core of our service delivery.
                        We follow internationally benchmarked standards in diagnostics, fetal assessment, musculoskeletal imaging, cardiology tests and pulmonary evaluations. With a dedicated Specialized Doctor Chamber and trained clinical staff, Ratnakamal Medical Centre ensures every patient receives the safest, most accurate and comprehensive care.
                    </p>


                </div>
            </div>	<!-- END TEXT BLOCK -->


        </div>
        <!-- END About section 1 -->
        <!--MEDIA Start-->
      @*   <div class="row pb-100">
            <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                <div class="card1">
                    <video width="100%" height="300" controls>
                        <source src="~/images/video/video1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                <div class="card1">
                    <video width="100%" height="300" controls>
                        <source src="~/images/video/video1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                </div>
            </div>
        </div> *@
        <!--MEDIA Ends-->
        <!-- About About section 2-->
        <div class="row pb-100">

            <!-- INFO TEXT -->
            <div class="col-lg-12">
                <div class="txt-block mb-40 pc-30 ">

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Our Facilities and <span class="blue-text">Latest Activities</span></h3>

                    <!-- Text -->
                    <p>At Ratnakamal Medical Centre of Excellence, we’ve built every corner of our facility with your safety and comfort in mind. Here’s what makes us unique:</p>

                    <p><b>Smart Design for Safer Care</b></p>

                    <ol>
                        <li><b>Separate Departments:</b> Clear zoning for Pathology, Genetics, Fetal Medicine, Radiology, and Cardiac Diagnostics ensures smooth patient flow without crowding.</li>

                        <li><b>Friendly Help Desks:</b> Our team guides you through test preparation, reports, appointments, and doctor consultations—making every visit stress-free.</li>

                        <li><b>Green Practices:</b> All diagnostic units follow low-waste protocols with safe biomedical disposal, reducing environmental impact.</li>

                        <li><b>Infection Control:</b> Sterile sampling areas, sanitized ultrasound suites, and controlled testing zones ensure clean, safe, contamination-free diagnostics.</li>
                    </ol>

                    <p><b>Diagnostics Done Right</b></p>

                    <ol>
                        <li><b>Advanced Pathology Lab:</b> Automated analysers, precision testing, and rapid turnaround for all routine and specialized investigations.</li>

                        <li><b>Genetics Clinic:</b> Expert counselling, chromosomal studies, and advanced genetic assessments for risk detection and family planning.</li>

                        <li><b>Fetal Medicine Unit:</b> Dedicated rooms for NT scans, anomaly scans, growth scans, CVS and Amniocentesis—conducted with utmost safety and accuracy.</li>
                    </ol>

                    <p><b>Imaging: Where Technology Meets Expertise</b></p>

                    <ol>
                        <li><b>MSK Ultrasound Suite:</b>High-resolution imaging with guided MSK interventions for joints, ligaments, tendons, and soft-tissue conditions.</li>

                        <li><b>4D & Comprehensive USG:</b> Real-time fetal views, abdominal scans, pelvic scans, and whole-body ultrasound under one roof.</li>

                        <li><b>Specialized Doctor Chamber: </b>Senior consultants available for detailed review, interpretation, and clinical decision-making.</li>

                    </ol>


                    <p><b>Cardiac & Respiratory Care</b></p>

                    <ol>
                        <li><b>ECG & Echocardiography:</b> Advanced echo systems measuring heart structure, flow, and rhythm abnormalities with precision.</li>

                        <li><b>Holter Monitoring:</b> 24-hour/48-hour portable cardiac rhythm monitoring for accurate detection of intermittent issues.</li>

                        <li><b>PFT Lab:</b> Dedicated Pulmonary Function Testing room to evaluate lung health, breathing capacity, and respiratory diseases.</li>
                    </ol>

                    <p><b>Patient Convenience First</b></p>

                    <ol>
                        <li><b>Pre-Test Guidance:</b> Our staff ensures you are fully prepared—fasting instructions, medication advice, and test-specific preparation made easy.</li>

                        <li><b>Post-Test Support:</b> Review of reports, doctor consultations, and follow-up scheduling so your care doesn’t end after the test.</li>
                    </ol>

                    <p><b>Day Care & Quick Procedures</b></p>

                    <ol>
                        <li><b>Minor Procedures & Interventions:</b> From MSK interventions to minor diagnostic procedures, our day-care unit ensures comfort with same-day discharge.</li>
                    </ol>
                </div>
            </div>	<!-- END TEXT BLOCK -->
            <!-- INFO IMAGE -->
            <div class="col-lg-12 mb-40">
                <div class="row">
                    <div class="col-lg-4  col-md-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6484.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6470.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6462.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6467.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6478.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6072.jpg" width="393" height="620" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6480.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6474.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- END About About section 2 -->
        <!-- About section 3-->
        <div class="row pb-100">


            <!-- INFO IMAGE -->
            <div class="col-lg-6">
                <div class="info-4-img mb-40 text-center ">
                    <img class="img-fluid" src="~/images/Indian_model/usg_test.jpg" width="490" height="609" alt="Ratnakamal Medical Centre of Excellence">
                </div>
            </div>


            <!-- INFO TEXT -->
            <div class="col-lg-6">
                <div class="txt-block mb-40 pc-30 ">
                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">We Provide The Best <span class="blue-text">Pregnancy & Fetal Medicine Care</span></h3>
                    <!-- Text -->
                    <p>
                        <b>
                            We’re committed to safe motherhood, advanced diagnostics, and compassionate guidance.
                            Here’s how we support you throughout your pregnancy:
                        </b>
                    </p>
                    <ol>
                        <li><b>Complete Pregnancy Scans: </b> From Early Pregnancy, NT/NB, Anomaly, Growth, Doppler to 3D/4D scans—every ultrasound is performed with precision to ensure your baby’s development is monitored at every stage.</li>
                        <li><b>Advanced Fetal Medicine Expertise: </b> Our fetal medicine specialist evaluates every report carefully—detecting abnormalities early, supporting high-risk pregnancies, and providing accurate, reliable diagnosis for the best outcomes.</li>
                        <li><b>Total Maternal Support: </b> From scan scheduling to doctor consultation, risk assessment, and follow-up guidance—everything is managed smoothly so you feel confident, informed, and comfortable throughout your pregnancy journey.</li>
                        <li><b>High-Risk Pregnancy Monitoring: </b> We provide dedicated monitoring for diabetes, hypertension, twins, IVF pregnancy, low baby weight (IUGR), and other high-risk conditions to ensure timely care and safe outcomes.</li>
                        <li><b>Clear Counselling & Guidance: </b> Every scan is followed by simple, clear explanation so parents understand every detail—helping reduce anxiety and make informed decisions throughout the pregnancy.</li>
                    </ol>
                </div>
            </div>	<!-- END TEXT BLOCK -->
        </div>
        <!-- END About section 3 -->
        <!-- About section 4-->
        <div class="row pb-100 pt-100 bluemotiffbg">


            <!-- INFO TEXT -->
            <div class="col-lg-6">
                <div class="txt-block mb-20 pc-30 ">

                    <!-- Title -->
                    <h3 class="h3-md text-white">Taking Care Of Your Loved One</h3>

                    <!-- Text -->
                    <p><b>When your family is with us, they’re our family too.</b></p>

                    <ol>
                        <li><b>Clear Test Updates: </b>From sample collection to report delivery, we keep families informed with regular updates and easy online access.</li>
                        <li><b>Fetal Care Support: </b>Expecting parents receive a warm, private environment with expert guidance during NT scans, anomaly scans, CVS, and Amniocentesis.</li>
                        <li><b>Comfortable Waiting Areas: </b>Clean, airy spaces with good lighting, seating, and strict hygiene protocols ensure a stress-free experience for patients and attendants.</li>
                        <li><b>Guided Recovery:: </b>After tests or procedures like MSK interventions or cardiac monitoring, our team explains results, next steps, and follow-up care with compassion.</li>
                    </ol>


                </div>
            </div>	<!-- END TEXT BLOCK -->
            <!-- INFO IMAGE -->
            <div class="col-lg-6">
                <div class="info-4-img text-center ">
                    <img class="img-fluid" src="~/images/Indian_model/image.jpg" width="609" height="490" alt="Ratnakamal Medical Centre of Excellence">
                </div>
            </div>


        </div>
        <!-- END About section 4 -->




    </div>	<!-- End container -->
</div>	<!-- END About  -->
<!-- ABOUT us -5
============================================= -->
<section id="about-5" class="bg-lightblue pt-50 pb-50 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- IMAGE BLOCK -->
            <div class="col-lg-4">
                <div class="about-img text-center ">
                    <img class="img-fluid" src="~/images/Indian_model/doctor-face.png" alt="Ratnakamal Medical Centre of Excellence" title="Ratnakamal Medical Centre of Excellence">
                </div>
            </div>


            <!-- TEXT BLOCK -->
            <div class="col-lg-8">
                <div class="txt-block pc-30 ">

                    <!-- Section ID -->
                    <span class="section-id blue-color">Our Key Features</span>

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Why <span class="blue-text">Choose Us?</span></h3>

                    <!-- Text -->

                    <div class="row">
                        <div class="col-md-6 col-xs-12 d-flex">
                            <img src="~/images/whyus1.png" width="80" height="80">
                            <span>
                                <span class="section-id m-0">24*7 Communication</span>
                                <p>Quick help whenever you need it. From booking tests to clarifying reports, our support team is always available.</p>
                            </span>
                        </div>
                        <div class="col-md-6 col-xs-12 d-flex">
                            <img src="~/images/whyus2.png" width="80" height="80">
                            <span>
                                <span class="section-id  m-0">Instant Scheduling</span>
                                <p>Fast appointments for Ultrasound, ECG, Echo, Holter, PFT, Pathology & Genetics—no long waiting, no delays.</p>
                            </span>
                        </div>
                        <div class="col-md-6 col-xs-12 d-flex">
                            <img src="~/images/whyus3.png" width="80" height="80">
                            <span>
                                <span class="section-id  m-0">Top Rated Service</span>
                                <p>Trusted by families for accurate results, expert fetal care, and advanced diagnostic imaging under one roof.</p>
                            </span>
                        </div>
                        <div class="col-md-6 col-xs-12 d-flex">
                            <img src="~/images/whyus4.png" width="80" height="80">
                            <span>
                                <span class="section-id  m-0">Get Your Solution</span>
                                <p>Whether it’s a routine test or a specialised scan, our doctors guide you with clear explanations and the right next steps.</p>
                            </span>
                        </div>
                    </div>



                </div>
            </div>	<!-- END TEXT BLOCK -->


        </div>    <!-- End row -->
    </div>	   <!-- End container -->
</section>	<!-- END ABOUT us -5 -->
<!-- ABOUT us -6
============================================= -->
<section class="pt-50 pb-100 service-page-section division">
    <div class="container">


        <!-- start of row-->
        <div class="row d-flex align-items-center pb-100">


            <!-- INFO IMAGE -->
            <div class="col-lg-6">
                <div class="info-4-img mb-20 text-center ">
                    <img class="img-fluid" src="~/images/aboutus/multi-doc.jpg" width="560" height="560" alt="Ratnakamal Medical Centre of Excellence">
                </div>
            </div>


            <!-- INFO TEXT -->
            <div class="col-lg-6">
                <div class="txt-block pc-30 ">

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Our Top  <span class="blue-text">Class Doctors </span></h3>

                    <!-- Text -->
                    <p><b>Behind every machine and monitor is a team of passionate experts.</b></p>

                    <ol>
                        <li><b>Specialists You Can Trust:</b> Heart surgeons, cancer experts, critical care doctors—all leaders in their fields.</li>
                        <li><b>Always Learning:</b> Our doctors train globally to bring you the latest techniques.</li>
                        <li><b>Teamwork Wins:</b> Surgeons, radiologists, and nurses huddle daily to plan your care, not just “a patient’s.”</li>
                    </ol>

                    <a href="@Url.Action("Doctor","Home")" class="btn btn-blue blue-hover">Our Specialists</a>


                </div>
            </div>	<!-- END TEXT BLOCK -->


        </div>


    </div>    <!-- End row -->
</section>	<!-- END ABOUT us -5 -->
