@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- BREADCRUMB
            ============================================= -->
<div id="breadcrumb" class="division" style="background-image:url('/images/new-img/DSC_6072.jpg')">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class=" breadcrumb-holder text-center">


                    <!-- Title -->
                    <h1 class="h4-sm whitetext-color">About Us</h1>
                    <p class="whitetext-color">Compassionate care for seniors in a safe, nurturing environment, promoting dignity, comfort, and quality of life every day.</p>

                </div>
            </div>
        </div>  <!-- End row -->
    </div>	<!-- End container -->
</div>	<!-- END BREADCRUMB -->
<!-- About Start
============================================= -->
<div id="service-page" class="wide-60 service-page-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">
                <!-- Section ID -->
                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">About <span class="blue-text">Us</span></h3>


            </div>
        </div>  <!-- END SECTION TITLE -->
        <!-- About section 1-->
        <div class="row pb-100 d-flex align-items-center">


            <!-- INFO IMAGE -->
            <div class="col-lg-6">
                <div class="info-4-img mb-40 text-center ">
                    <img class="img-fluid" src="~/images/new-img/aboutUs.jpg" alt="Ratnakamal Medical Centre of Excellence" width="1597" height="993">
                </div>
            </div>


            <!-- INFO TEXT -->
            <div class="col-lg-6">
                <div class="txt-block mb-40 pc-30 ">

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Our Patients Are Our Priority, Advanced Instrument-Based <span class="blue-text">Diagnostic & Clinical Services</span></h3>

                    <!-- Text -->
                    <p>
                        <b>Providing Accurate, Technology-Driven Healthcare under One Roof:</b></br>

                        Ratnakamal Medical Centre of Excellence & Diagnostic Centre is equipped with advanced, hospital-grade diagnostic instruments designed to deliver precise, reliable, and timely results. Each diagnostic service is supported by dedicated equipment operated by trained medical professionals, ensuring accuracy and patient safety at every step.
                        </br>
                        Our <b>high-resolution Ultrasound System</b> enables detailed abdominal, gynecological, fetal, vascular, and musculoskeletal imaging with superior clarity, supporting early diagnosis and informed clinical decisions.
                        </br>
                        The <b>Advanced Binocular Microscope</b> plays a crucial role in pathology and laboratory diagnostics, allowing detailed examination of blood samples, body fluids, tissues, and microbiological specimens for accurate pathological reporting.
                        </br>
                        Our <b>Laboratory Incubation & Controlled Heating Systems</b> ensure safe and standardized sample processing for pathology and microbiology investigations, maintaining precise temperature control essential for dependable test outcomes.
                        </br>
                        The <b>Automated Diagnostic Analyzer</b> supports efficient biochemical and clinical testing with consistent accuracy, reducing manual error and enabling faster turnaround times for critical investigations.
                        </br>
                        Together, these advanced instruments form the backbone of our diagnostic services, ensuring dependable results, ethical reporting, and comprehensive patient care. At Ratnakamal Medical Centre of Excellence, technology, expertise, and compassion work hand in hand to deliver safe, accurate, and trusted healthcare diagnostics.
                    </p>


                </div>
            </div>	<!-- END TEXT BLOCK -->


        </div>
        <!-- END About section 1 -->
        <!--MEDIA Start-->
      @*   <div class="row pb-100">
            <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                <div class="card1">
                    <video width="100%" height="300" controls>
                        <source src="~/images/video/video1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-12">
                <div class="card1">
                    <video width="100%" height="300" controls>
                        <source src="~/images/video/video1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                </div>
            </div>
        </div> *@
        <!--MEDIA Ends-->
        <!-- About About section 2-->
        <div class="row pb-100">

            <!-- INFO TEXT -->
            <div class="col-lg-12">
                <div class="txt-block mb-40 pc-30 ">

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Our Facilities and <span class="blue-text">Latest Diagnostic Instruments</span></h3>

                    <!-- Text -->
                    <p>At Ratnakamal Medical Centre of Excellence, we are equipped with modern diagnostic instruments and patient-centric facilities that ensure accuracy, safety, and comfort at every stage of diagnosis.</p>

                    <p><b>Scan Services & Imaging Instruments</b></p>

                    <ol>
                        <li>
                            <b>
                                High-Resolution Ultrasound System:
                            </b> Our advanced ultrasound machine supports abdominal, gynecological, obstetric, fetal, vascular, and musculoskeletal imaging with high image clarity for accurate diagnosis and real-time assessment.
                        </li>
                        <li>
                            <b>
                                Color Doppler Ultrasound Unit:
                            </b> Specialized Doppler technology allows precise evaluation of blood flow in limbs and abdominal organs, assisting in vascular assessments, pregnancy monitoring, and organ perfusion studies.
                        </li>

                        <li><b>Dedicated Fetal Medicine Ultrasound Setup:</b> Equipped for first-trimester screening, anomaly scans, fetal echocardiography, and growth monitoring as per international guidelines, ensuring detailed fetal evaluation and maternal safety.</li>
                     </ol>

                    <p><b>Pathology & Laboratory Instruments</b></p>

                    <ol>
                        <li><b>Advanced Binocular Microscope:</b> Used for detailed microscopic examination of blood smears, urine sediments, body fluids, and tissue samples, supporting accurate pathology and microbiology reporting.</li>

                        <li><b>Automated Biochemistry Analyzer:</b> Enables fast and reliable biochemical testing with minimal manual intervention, ensuring consistent accuracy and reduced turnaround time for routine and specialized investigations.</li>

                        <li><b>Centrifuge Machine:</b> Essential for separating serum, plasma, and other sample components, ensuring precise sample preparation for laboratory analysis.</li>
                        <li><b>Laboratory Incubator / Hot Air Oven:</b> Provides controlled temperature conditions for culture growth, sterilization, and sample processing, maintaining strict laboratory quality standards.</li>
                    </ol>

                    <p><b>Patient Care & Support Facilities</b></p>

                    <ol>
                        <li><b>Comfortable Sample Collection Area:</b>Designed for patient privacy and convenience, ensuring smooth and hygienic blood and sample collection procedures.</li>

                        <li><b>Well-Equipped Procedure & Examination Rooms:</b> Dedicated rooms for ultrasound scans, diagnostic procedures, and consultations, maintaining cleanliness, safety, and patient comfort.</li>

                        <li><b>Reception & Waiting Area: </b>A calm and organized reception space to guide patients efficiently through registration, reporting, and consultations.</li>
                        <li><b>Digital Reporting & Record Management: </b>Supports accurate report generation, secure record handling, and timely delivery of diagnostic results to patients and referring physicians.</li>

                    </ol>


                    @* <p><b>Cardiac & Respiratory Care</b></p>

                    <ol>
                        <li><b>ECG & Echocardiography:</b> Advanced echo systems measuring heart structure, flow, and rhythm abnormalities with precision.</li>

                        <li><b>Holter Monitoring:</b> 24-hour/48-hour portable cardiac rhythm monitoring for accurate detection of intermittent issues.</li>

                        <li><b>PFT Lab:</b> Dedicated Pulmonary Function Testing room to evaluate lung health, breathing capacity, and respiratory diseases.</li>
                    </ol>

                    <p><b>Patient Convenience First</b></p>

                    <ol>
                        <li><b>Pre-Test Guidance:</b> Our staff ensures you are fully prepared—fasting instructions, medication advice, and test-specific preparation made easy.</li>

                        <li><b>Post-Test Support:</b> Review of reports, doctor consultations, and follow-up scheduling so your care doesn’t end after the test.</li>
                    </ol>

                    <p><b>Day Care & Quick Procedures</b></p>

                    <ol>
                        <li><b>Minor Procedures & Interventions:</b> From MSK interventions to minor diagnostic procedures, our day-care unit ensures comfort with same-day discharge.</li>
                    </ol> *@
                </div>
            </div>	<!-- END TEXT BLOCK -->
            <!-- INFO IMAGE -->
            <div class="col-lg-12 mb-40">
                <div class="row">
                    <div class="col-lg-4  col-md-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6484.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6470.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6462.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6467.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6478.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6072.jpg" width="393" height="620" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6480.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-6 facilitiesimg text-center ">
                                <img class="img-fluid" src="~/images/new-img/DSC_6474.jpg" width="393" height="300" alt="Ratnakamal Medical Centre of Excellence">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- END About About section 2 -->
        <!-- About section 3-->
        <div class="row pb-100">


            <!-- INFO IMAGE -->
            <div class="col-lg-6">
                <div class="info-4-img mb-40 text-center ">
                    <img class="img-fluid" src="~/images/Indian_model/usg_test.jpg" width="490" height="609" alt="Ratnakamal Medical Centre of Excellence">
                </div>
            </div>


            <!-- INFO TEXT -->
            <div class="col-lg-6">
                <div class="txt-block mb-40 pc-30 ">
                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">We Provide The Best <span class="blue-text">Pregnancy & Fetal Medicine Care</span></h3>
                    <!-- Text -->
                    <p>
                        <b>
                            We’re committed to safe motherhood, advanced diagnostics, and compassionate guidance.
                            Here’s how we support you throughout your pregnancy:
                        </b>
                    </p>
                    <ol>
                        <li><b>Complete Pregnancy Scans: </b> From Early Pregnancy, NT/NB, Anomaly, Growth, Doppler to 3D/4D scans—every ultrasound is performed with precision to ensure your baby’s development is monitored at every stage.</li>
                        <li><b>Advanced Fetal Medicine Expertise: </b> Our fetal medicine specialist evaluates every report carefully—detecting abnormalities early, supporting high-risk pregnancies, and providing accurate, reliable diagnosis for the best outcomes.</li>
                        <li><b>Total Maternal Support: </b> From scan scheduling to doctor consultation, risk assessment, and follow-up guidance—everything is managed smoothly so you feel confident, informed, and comfortable throughout your pregnancy journey.</li>
                        <li><b>High-Risk Pregnancy Monitoring: </b> We provide dedicated monitoring for diabetes, hypertension, twins, IVF pregnancy, low baby weight (IUGR), and other high-risk conditions to ensure timely care and safe outcomes.</li>
                        <li><b>Clear Counselling & Guidance: </b> Every scan is followed by simple, clear explanation so parents understand every detail—helping reduce anxiety and make informed decisions throughout the pregnancy.</li>
                    </ol>
                </div>
            </div>	<!-- END TEXT BLOCK -->
        </div>
        <!-- END About section 3 -->
        <!-- About section 4-->
        <div class="row pb-100 pt-100 bluemotiffbg">


            <!-- INFO TEXT -->
            <div class="col-lg-6">
                <div class="txt-block mb-20 pc-30 ">

                    <!-- Title -->
                    <h3 class="h3-md text-white">Taking Care Of Your Loved One</h3>

                    <!-- Text -->
                    <p><b>When your family is with us, their care becomes our responsibility.</b></p>

                    <ol>
                        <li><b>Transparent Test Communication: </b>From sample collection to final report delivery, we ensure clear communication at every step with timely updates and easy access to diagnostic reports.</li>
                        <li><b>Specialized Fetal Care Support: </b>Expecting parents receive personalized attention in a calm and private environment, with expert guidance during NT scans, anomaly scans, CVS, amniocentesis, and fetal assessments.</li>
                        <li><b>Comfortable & Hygienic Patient Areas: </b>Our waiting and procedure areas are designed to be clean, well-ventilated, and comfortable, following strict hygiene and safety protocols for a stress-free patient experience.</li>
                        <li><b>Post-Procedure Guidance & Care: </b>After diagnostic tests or procedures such as MSK imaging, Doppler studies, or cardiac evaluations, our team clearly explains findings, next steps, and follow-up care with empathy and clarity.</li>
                    </ol>


                </div>
            </div>	<!-- END TEXT BLOCK -->
            <!-- INFO IMAGE -->
            <div class="col-lg-6">
                <div class="info-4-img text-center ">
                    <img class="img-fluid" src="~/images/Indian_model/image.jpg" width="609" height="490" alt="Ratnakamal Medical Centre of Excellence">
                </div>
            </div>


        </div>
        <!-- END About section 4 -->




    </div>	<!-- End container -->
</div>	<!-- END About  -->
<!-- ABOUT us -5
============================================= -->
<section id="about-5" class="bg-lightblue pt-50 pb-50 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- IMAGE BLOCK -->
            <div class="col-lg-4">
                <div class="about-img text-center ">
                    <img class="img-fluid" src="~/images/Indian_model/doctor-face.png" alt="Ratnakamal Medical Centre of Excellence" title="Ratnakamal Medical Centre of Excellence">
                </div>
            </div>


            <!-- TEXT BLOCK -->
            <div class="col-lg-8">
                <div class="txt-block pc-30 ">

                    <!-- Section ID -->
                    <span class="section-id blue-color">Our Key Features</span>

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Why <span class="blue-text">Choose Us?</span></h3>

                    <!-- Text -->

                    <div class="row">
                        <div class="col-md-6 col-xs-12 d-flex">
                            <img src="~/images/whyus1.png" width="80" height="80">
                            <span>
                                <span class="section-id m-0">Dedicated Patient Support (8 AM – 8 PM)</span>
                                <p>Our support team is available Monday to Saturday from 8 AM to 8 PM to assist with test bookings, report-related queries, and procedure guidance with clear and timely communication.</p>
                            </span>
                        </div>
                        <div class="col-md-6 col-xs-12 d-flex">
                            <img src="~/images/whyus2.png" width="80" height="80">
                            <span>
                                <span class="section-id  m-0">Instant Appointment Scheduling</span>
                                <p>Quick and convenient scheduling for Ultrasound, ECG, Echo, Holter, PFT, Pathology, and Genetic tests—ensuring minimal waiting time and smooth patient flow.</p>
                            </span>
                        </div>
                        <div class="col-md-6 col-xs-12 d-flex">
                            <img src="~/images/whyus3.png" width="80" height="80">
                            <span>
                                <span class="section-id  m-0">Trusted Diagnostic Excellence</span>
                                <p>Known for accurate reporting, advanced diagnostic instruments, and specialist-led services, we are trusted by patients and referring physicians for reliable diagnostic care.</p>
                            </span>
                        </div>
                        <div class="col-md-6 col-xs-12 d-flex">
                            <img src="~/images/whyus4.png" width="80" height="80">
                            <span>
                                <span class="section-id  m-0">Clear Diagnosis & Next-Step Guidance</span>
                                <p>From routine investigations to specialized diagnostic procedures, our doctors explain findings clearly and guide patients on the appropriate next steps with care and clarity.</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>	<!-- END TEXT BLOCK -->


        </div>    <!-- End row -->
    </div>	   <!-- End container -->
</section>	<!-- END ABOUT us -5 -->
<!-- ABOUT us -6
============================================= -->
<section class="pt-50 pb-100 service-page-section division">
    <div class="container">


        <!-- start of row-->
        <div class="row d-flex align-items-center pb-100">


            <!-- INFO IMAGE -->
            <div class="col-lg-6">
                <div class="info-4-img mb-20 text-center ">
                    <img class="img-fluid" src="~/images/aboutus/multi-doc.jpg" width="560" height="560" alt="Ratnakamal Medical Centre of Excellence">
                </div>
            </div>


            <!-- INFO TEXT -->
            <div class="col-lg-6">
                <div class="txt-block pc-30 ">

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Our Top  <span class="blue-text">Class Doctors </span></h3>

                    <!-- Text -->
                    <p><b>Behind every machine and monitor is a team of passionate experts.</b></p>

                    <ol>
                        <li><b>Specialists You Can Trust:</b> Heart surgeons, cancer experts, critical care doctors—all leaders in their fields.</li>
                        <li><b>Always Learning:</b> Our doctors train globally to bring you the latest techniques.</li>
                        <li><b>Teamwork Wins:</b> Surgeons, radiologists, and nurses huddle daily to plan your care, not just “a patient’s.”</li>
                    </ol>

                    <a href="@Url.Action("Doctor","Home")" class="btn btn-blue blue-hover">Our Specialists</a>


                </div>
            </div>	<!-- END TEXT BLOCK -->


        </div>


    </div>    <!-- End row -->
</section>	<!-- END ABOUT us -5 -->
