* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    /*background: #343a40;*/
    background: #0C5D87;
    padding: 20px;
    color: white;
    height: 100vh;
}

    .sidebar h2 {
        /*color: #dc3545;*/
        text-align: center;
        margin-bottom: 20px;
    }

    .sidebar nav ul {
        list-style: none;
        padding: 0;
    }

        .sidebar nav ul li {
            margin: 15px 0;
        }

            .sidebar nav ul li a {
                color: white;
                text-decoration: none;
                display: block;
                padding: 10px;
                border-radius: 5px;
                transition: background 0.3s;
            }

                .sidebar nav ul li a:hover {
                    /*background: #dc3545;*/
                    background: #0b5ed7;
                }

.content {
    flex-grow: 1;
    padding: 20px;
}

.top-nav {
    background: #f8f9fa;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

    .table th, .table td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .table th {
        /*background: #343a40*/;
        background: #0C5D87;
        color: white;
    }

.table-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
    }

.form-control {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: inline-block;
    transition: background 0.3s;
    border: none;
}

/*.btn-primary {
    background-color: #dc3545;
}*/

.btn-primary {
    background-color: #0C5D87;
}

/*.btn-primary:hover {
        background-color: #0d6efd;
    }*/

.btn-submit {
    width: 100%;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-logout {
    background-color: #0C5D87;
}

    .btn-logout:hover {
        color: #fff;
        background-color: #0b5ed7;
    }

.space {
    margin-top: 15px;
}

.upload-section {
    margin-top: 15px;
}

/*.upload-box {
    border: 2px dashed #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
}*/
.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ddd;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 14px;
}

    .upload-box img {
        max-width: 100px;
        margin-bottom: 10px;
    }

    .upload-box p {
        color: #777;
    }
