<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Request</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 20px; background-color: #f4f4f4;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width: 600px; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <tr>
            <td style="color: #555; font-size: 16px; line-height: 1.6;">
                <p>Dear Hiramani Memorial Hospital Team,</p>
                <p>One new booking request came, please contact the patient and provide a time slot to visit with the doctor:</p>
                <p><strong>Patient Details:-</strong></p>
                <p><strong>Patient Name:</strong> PATIENTNAME</p>
                <p><strong>Age:</strong> AGE</p>
                <p><strong>Gender:</strong> GENDER</p>
                <p><strong>Phone Number:</strong> PHONENO</p>
                <p><strong>Mail ID:</strong> EMAIL</p>
                <p><strong>Requested Service:</strong> REQUESTSERVICE</p>
                <p><strong>Consultation with:</strong> Dr. DOCTORNAME</p>
                <p><strong>Patient type:</strong> TYPE</p>
                <p><strong>Appointment Date:</strong> DATETIME</p>
                <p><strong>Patient's Message:</strong></p>
                <p>MESSAGE</p>
                <p>Thanks and regards,</p>
                <p><strong>PATIENTNAME</strong></p>
            </td>
        </tr>
    </table>
</body>
</html>
